/*=====================*/
/*Basic Setup */
/*=====================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;

}

ul li{
    list-style: none;
}

h1{
    font-size: 4.2rem;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}


/*=====================*/
/*Common */
/*=====================*/

.row{
    max-width: 114rem;
    margin: 0 auto;
}

section{
    padding: 8rem 0;
}

.btn:link,
.btn:visited,
.btn{
    background: #eb7d4b;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2.6rem 8.0rem;
    font-size: 1.8rem; 
    color: #fff; 
    border-radius: .5rem;
    display: inline-block;
    margin-top:4.5rem ;

}

/*=====================*/
/*Header Section */
/*=====================*/

header{
    background: #864f9c; 
    height: 85vh;
    position: relative;
}

.logo{
    height: 3.3rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

.main-nav{
    float: right;
    margin-top: 4.0rem;
}

.main-nav li{
    display: inline-block;
    
    margin-left: 1rem;
}

.main-nav li:first-child{
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121, 0);
    padding: 6px 16px;
    border-radius: 3px;
    display: inline-block;
    font-size: 1.6rem;
    transition: .3s;
   

}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background: #633a79;
}

.active{
    background:rgba(100, 58, 121, 1);
    border-radius: .3rem;
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}


.btn-hero:link,
.btn-hero:visited{
    background: #eb7d4b;
    border-color: #c86a40;
}


/*=====================*/
/*SERVICES SECTION */
/*=====================*/

.services-section{
    background: #17c2a4;
    color:#fff;
    text-align: center;

}